<!DOCTYPE html>
<html>
<head>
    <title>FindCars</title>
</head>
<body>
    <h1>FindCars</h1>

    <nav>
        <a href="/">Inicio</a>
        <a href="/crear/">Crear Auto</a>
        <a href="/lista/">Ver Autos</a>
        <a href="/accounts/login/">Login</a>
        <a href="/accounts/registro/">Registro</a>
        <form action="/accounts/logout/" method="POST" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <a href="/accounts/perfil/">Mi Perfil</a>
        <a href="/about/">About</a>
    </nav>
    {% if user.is_authenticated %}

    <p>Bienvenido {{ user.username }}</p>

    {% else %}

    <p>No has iniciado sesión</p>

    {% endif %}

    <hr>

    {% block content %}
    {% endblock %}
</body>
</html>