{% extends "autos/base.html" %}

{% block content %}
<h2>Lista de Autos</h2>

<form method="GET" action="/buscar/">
    <input type="text" name="q" placeholder="Buscar por marca">
    <button type="submit">Buscar</button>
</form>

<ul>
    {% for auto in autos %}

        <li>
            <h3>{{ auto.marca }} {{ auto.modelo }}</h3>

            <p>{{ auto.descripcion|safe }}</p>

            {% if auto.imagen %}
                <img src="{{ auto.imagen.url }}" width="300">
            {% endif %}

            <br>

            <a href="/detalle/{{ auto.id }}/">Leer más</a>

        </li>

        <hr>

    {% empty %}

        <p>No hay autos aún.</p>

    {% endfor %}
</ul>

{% endblock %}